button {
    cursor: pointer;
}

@each $button, $values in $buttons {
    .button--#{$button} {
        background: map-get($values, background);
        color: map-get($values, color);
        border: 1px solid map-get($values, border);
        padding: $spacing_sm ;
        min-width: fit-content;
        max-width: 214px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing_2xs;
        border-radius: $radius_s;
        @include typography(bold_b1);
        text-transform: uppercase;
        text-decoration: none;
        &:disabled {
            background: map-get($values, background_disabled);
            color: map-get($values, color_disabled);
            border: 1px solid map-get($values, border_disabled);
            pointer-events: none;
            & .icon {
                filter: grayscale(100%) invert(1);
            }
        }
        & .icon {
            width: 24px;
            height: 24px;
            transition: transform 0.3s ease-in-out;
        }
    }
}
