:root {

    /* Colores */
    --color_white: #FFFFFF;
    --color_black: #222222;
    --color_wine_900: #3B0B1E;
    --color_wine_800: #611232;
    --color_wine_700: #7A1840;
    --color_wine_600: #9D2449;
    --color_green_900: #13322E;
    --color_gold_700: #A57F2C;
    --color_cream_100: #FDF8E3;
    --color_gray_700: #545454;
    --color_gray_600: #6F7271;
    --color_gray_500: #98989A;
    --color_gray_300: #E7E7E7;
    --color_white_50: #F8F8F8;
    --color_gray_20: #E7E7E7;
    --color_gray_10: #0000001A;
    --color_black_5: #0C0C0D0D;
    --color_black_500: #00000080;

    /* Espaciado */
    --spacing_3xs: 4px;
    --spacing_2xs: 8px;
    --spacing_xs: 12px;
    --spacing_sm: 16px;
    --spacing_md: 20px;
    --spacing_lg: 24px;
    --spacing_xl: 28px;
    --spacing_2xl: 32px;
    --spacing_3xl: 36px;
    --spacing_4xl: 40px;
    --spacing_5xl: 44px;
    --spacing_6xl: 48px;
    --spacing_7xl: 52px;
    --spacing_8xl: 56px;

    /* Radius */
    --radius_none: 0px;
    --radius_3xs: 4px;
    --radius_2xs: 8px;
    --radius_xs: 12px;
    --radius_s: 16px;
    --radius_sm: 20px;
    --radius_m: 24px;
    --radius_lg: 96px;
}

@media (prefers-color-scheme: dark) {
    :root {

        /* Colores */
        --color_white: #FFFFFF;
        --color_black: #222222;
        --color_wine_900: #3B0B1E;
        --color_wine_800: #611232;
        --color_wine_700: #7A1840;
        --color_wine_600: #9D2449;
        --color_green_900: #13322E;
        --color_gold_700: #A57F2C;
        --color_cream_100: #FDF8E3;
        --color_gray_700: #545454;
        --color_gray_600: #6F7271;
        --color_gray_500: #98989A;
        --color_gray_300: #E7E7E7;
        --color_white_50: #F8F8F8;
        --color_gray_20: #E7E7E7;
        --color_gray_10: #0000001A;
        --color_black_5: #0C0C0D0D;
        --color_black_500: #00000080;

        /* Espaciado */
        --spacing_3xs: 4px;
        --spacing_2xs: 8px;
        --spacing_xs: 12px;
        --spacing_sm: 16px;
        --spacing_md: 20px;
        --spacing_lg: 24px;
        --spacing_xl: 28px;
        --spacing_2xl: 32px;
        --spacing_3xl: 36px;
        --spacing_4xl: 40px;
        --spacing_5xl: 44px;
        --spacing_6xl: 48px;
        --spacing_7xl: 52px;
        --spacing_8xl: 56px;

        /* Radius */
        --radius_none: 0px;
        --radius_3xs: 4px;
        --radius_2xs: 8px;
        --radius_xs: 12px;
        --radius_s: 16px;
        --radius_sm: 20px;
        --radius_m: 24px;
        --radius_lg: 96px;
    }
}