@mixin media($condition) {
	$operator: str-slice($condition, 1, 1);
	$breakpoint: str-slice($condition, 2);
	@if map-has-key($breakpoints, $breakpoint) {
		$bp-value: map-get($breakpoints, $breakpoint);
		@if $operator=='>' {
			@media (min-width: $bp-value) {
				@content;
			}
		}
		@else if $operator=='<' {
			@media (max-width: ($bp-value - 1)) {
				@content;
			}
		}
	}
	@else {
		@warn "El breakpoint '#{$breakpoint}' no está definido en el mapa de breakpoints.";
	}
}

@mixin typography($key) {
	@if map-has-key($typography, $key) {
		$values: map-get($typography, $key);
		font-size: map-get($values, size);
		font-weight: map-get($values, weight);
		line-height: map-get($values, line-height);
		font-family: map-get($values, font-family);
	}

	@else {
		@warn "La clave `#{$key}` no existe en el mapa de tipografía.";
	}
}