// Colores
$color_white: var(--color_white);
$color_black: var(--color_black);

// Espaciado
$spacing_3xs: var(--spacing_3xs);
$spacing_2xs: var(--spacing_2xs);
$spacing_xs: var(--spacing_xs);
$spacing_sm: var(--spacing_sm);
$spacing_md: var(--spacing_md);
$spacing_lg: var(--spacing_lg);
$spacing_xl: var(--spacing_xl);
$spacing_2xl: var(--spacing_2xl);
$spacing_3xl: var(--spacing_3xl);
$spacing_4xl: var(--spacing_4xl);
$spacing_5xl: var(--spacing_5xl);
$spacing_6xl: var(--spacing_6xl);
$spacing_7xl: var(--spacing_7xl);
$spacing_8xl: var(--spacing_8xl);

// Radius
$radius_none: var(--radius_none);
$radius_3xs: var(--radius_3xs);
$radius_2xs: var(--radius_2xs);
$radius_xs: var(--radius_xs);
$radius_none: var(--radius_none);
$radius_s: var(--radius_s);
$radius_sm: var(--radius_sm);
$radius_m: var(--radius_m);
$radius_lg: var(--radius_lg);

$breakpoints: (
  xs_mobile: 350px,
  mobile: 414px,
  tablet: 768px,
  desktop: 1025px,
);

$font-family: 'Noto Sans';

$typography: (   
  H: (
    size: 24px,
    weight: 800,
    line-height: 24px,
  ),
  extrabold_b1: (
    size: 16px,
    weight: 800,
    line-height: 16px,
  ),
  bold_b1: (
    size: 16px,
    weight: 700,
    line-height: 16px,
  ),
  semibold_b1: (
    size: 16px,
    weight: 600,
    line-height: 16px,
  ),
  medium_b1: (
    size: 16px,
    weight: 500,
    line-height: 16px,
  ),
  regular_b1: (
    size: 16px,
    weight: 400,
    line-height: 16px,
  ),
  extrabold_b0: (
    size: 14px,
    weight: 800,
    line-height: 14px,
  ),
  bold_b0: (
    size: 14px,
    weight: 700,
    line-height: 14px,
  ),
  semibold_b0: (
    size: 14px,
    weight: 600,
    line-height: 14px,
  ),
  medium_b0: (
    size: 14px,
    weight: 500,
    line-height: 14px,
  ),
  regular_b0: (
    size: 14px,
    weight: 400,
    line-height: 14px,
  ),
  extrabold_SD: (
    size: 10px,
    weight: 800,
    line-height: 10px,
  ),
  bold_SD: (
    size: 10px,
    weight: 700,
    line-height: 10px,
  ),
  semibold_SD: (
    size: 10px,
    weight: 600,
    line-height: 10px,
  ),
  medium_SD: (
    size: 10px,
    weight: 500,
    line-height: 10px,
  ),
  regular_SD: (
    size: 10px,
    weight: 400,
    line-height: 10px,
  ),
); 